[submodule "web"]
	path = web
	url = https://github.com/victormwenda/mobile-taxi-web
[submodule "mobile/rider"]
	path = mobile/rider
	url = https://github.com/victormwenda/mobile-taxi-android-rider.git
[submodule "mobile/driver"]
	path = mobile/driver
	url = https://github.com/victormwenda/mobile-taxi-android-driver.git
